{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>
     <div class="signup-form">
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						Old Password
					</span>
                    </div>
                    <input type="password" class="form-control" name="old_password" placeholder="Old Password" required="required">
                </div>
            </div>
        <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						New Password
					</span>
                    </div>
                    <input type="password" class="form-control" name="new_password1" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
					<span class="input-group-text">
						Confirm Password
					</span>
                    </div>
                    <input type="password" class="form-control" name="new_password2" placeholder="Confirm Password"
                           required="required">
                </div>
            </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
        </div>
        <div style="color: red">
                {{ form.errors }}
            </div>
    </form>
     </div>
{% endblock %}