{% extends 'base.html' %}
{% block title %}Password Reset Confirm{% endblock %}
{% block content %}
    <div class="container pt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Enter a New Password</h4>
            <hr>
            <p>Please enter a new password twice so we can verify you typed it in correctly.</p>

        </div>
        <div class="container">
            <form action='' method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-group pt-5">
                    <label for="exampleInputPassword1">New Password</label>
                    <input type="password" name="new_password1" class="form-control" id="exampleInputPassword1"
                           required>
                </div>
                <div class="form-group pt-2">
                    <label for="exampleInputPassword2">Confirm Password</label>
                    <input type="password" name="new_password2" class="form-control" id="exampleInputPassword2"
                           required>
                </div>
                <button type="submit" class="btn btn-primary pt-2">Change Password</button>
                </a>
                <div style="color: red">
                    {{ form.errors }}
                </div>

            </form>
        </div>
    </div>

{% endblock %}