{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    <div class="container pt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Forget Password</h4>
            <hr>
            <p>Enter your email address and we'll email instructions to reset a new password.</p>
            <hr>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Sent Mail</button>
            </form>

        </div>
    </div>

{% endblock %}